.cc-sync
  .block-header
    h2 #{__('Sync Thunderbird with OpenPaaS')}

  .sync-thunderbird-guide.card(ng-include="'/sync/thunderbird/guide'")
    .text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.4')
